# Imports

In [2]:
import pandas as pd

# Code

In [29]:
for i in range(1,6):
    vars()['df_{}'.format(i)] = pd.read_csv('views_2019\involved_parts\involved_parts_{}.csv'.format(i))

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (44,68,148,157) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (148) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (36,38,40,42,44,68,148) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (44,68,80,148,157) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [30]:
dfs = [df_1, df_2, df_3, df_4, df_5]
df = pd.concat([dfi for dfi in dfs])

In [26]:
# llist = df['road_segment_number'].unique()
# llist.sort()
df.loc[df['road_segment_number'] == 90][:3][[ 'accident_day','accident_hour_raw','accident_hour_raw_hebrew','accident_hour','accident_minute', 'accident_year','accident_month']]

,accident_day,accident_hour_raw,accident_hour_raw_hebrew,accident_hour,accident_minute,accident_year,accident_month
55,23,35,08:30-08:44,8,30,2014,1
667,2,81,NaN,20,0,2010,11
668,2,81,NaN,20,0,2010,11

In [13]:
# llist.sort()
# llist
# llist.size

12

In [40]:
from collections import defaultdict
years = df['accident_year'].unique()
months = range(1,13,1)

months_dict = {curr_m: 0 for curr_m in months}
accidents = defaultdict(dict)
for year in years: 
    accidents[year] = months_dict.copy()
        
accidents

{2010: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2011: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2012: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2013: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2014: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2015: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2016: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2017: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2018: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2008: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2009: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0},
 2019: {1: 0,
  2: 0,
  3: 0,
  4: 0,
  5: 0,
  6: 0,
  7: 0,
  8: 0,
  9: 0,
  10: 0,
  11: 0,
  12: 0}}

In [41]:
for year in years:
    for month in months:
        accidents[year][month](len(df.loc[(df['road_segment_number'] == 90) & (df['accident_year'] == year) & (df['accident_month'] == month)]))

TypeError: 'int' object is not callable

In [38]:
df[['longitude', 'latitude', 'x', 'y']]

        longitude   latitude         x         y
0       34.809455  31.894152  182083.0  644642.0
1       34.888872  32.174509  189687.0  675706.0
2       34.823410  31.888513  183401.0  644012.0
3       34.823410  31.888513  183401.0  644012.0
4       34.946719  29.556917  194473.0  385482.0
5       34.775450  31.980696  178904.0  654251.0
6       34.921250  32.151545  192734.0  673151.0
7       34.762943  31.976532  177720.0  653794.0
8       35.315958  32.723152  229904.0  736510.0
9       34.928781  32.178083  193452.0  676092.0
10      34.787379  32.065884  180068.0  663693.0
11      34.828096  32.058761  183910.0  662889.0
12      34.773278  32.096443  178750.0  667087.0
13      35.205488  31.731659  219549.0  626556.0
14      34.865577  32.086128  187459.0  665912.0
15      34.998057  32.288358  200009.0  688306.0
16      34.999022  32.812328  200212.0  746413.0
17      34.917015  32.183675  192344.0  676715.0
18      34.838018  31.947111  184805.0  650505.0
19      34.860678  32.090218  186998.0  666367.0
20      34.760921  32.038343  177557.0  660649.0
21      35.252274  32.921709  223924.0  758526.0
22      35.252274  32.921709  223924.0  758526.0
23      34.667523  31.785251  168596.0  632624.0
24      34.780259  32.075789  179400.0  664794.0
25      34.989263  32.240694  199170.0  683022.0
26      35.536634  32.790208  250568.0  743990.0
27      34.814082  31.859689  182507.0  640819.0
28      34.947568  32.148472  195216.0  672804.0
29      34.767443  31.982337  178148.0  654436.0
...           ...        ...       ...       ...
458807  34.792027  32.108707  180525.0  668440.0
458808  34.792027  32.108707  180525.0  668440.0
458809        NaN        NaN       NaN       NaN
458810        NaN        NaN       NaN       NaN
458811  35.298484  32.864633  228252.0  752199.0
458812  35.298484  32.864633  228252.0  752199.0
458813  34.924498  32.132957  193035.0  671089.0
458814  34.649353  31.785245  166875.0  632632.0
458815  34.649353  31.785245  166875.0  632632.0
458816  34.809086  32.066594  182118.0  663764.0
458817  35.207612  31.814548  219750.0  635747.0
458818  34.870319  32.185652  187941.0  676947.0
458819  34.867961  32.195349  187722.0  678023.0
458820  35.100802  32.803987  209743.0  745474.0
458821  35.302689  32.616878  228671.0  724723.0
458822  35.234344  31.819243  222281.0  636268.0
458823  35.368335  32.892531  234785.0  755301.0
458824  35.368335  32.892531  234785.0  755301.0
458825  34.623699  31.776473  164440.0  631672.0
458826  34.809070  31.947096  182068.0  650513.0
458827  35.197528  31.782983  218795.0  632247.0
458828  35.000725  32.805307  200370.0  745634.0
458829  35.000725  32.805307  200370.0  745634.0
458830  35.000725  32.805307  200370.0  745634.0
458831  35.000725  32.805307  200370.0  745634.0
458832  34.853943  32.299799  186438.0  689610.0
458833  34.871931  32.095217  188062.0  666918.0
458834  34.748425  32.026062  176371.0  659292.0
458835  35.302689  32.616878  228671.0  724723.0
458836  35.021151  32.799730  202282.0  745012.0

[458837 rows x 4 columns]

In [ ]:
!conda install -c conda-forge folium

In [2]:
import folium

m = folium.Map(location=[32.09, 34.78], zoom_start=15)

display(m)

In [29]:
df.iloc[:3,0:20]

,accident_id,provider_and_id,provider_code,file_type_police,involved_type,involved_type_hebrew,license_acquiring_date,age_group,age_group_hebrew,sex,sex_hebrew,involve_vehicle_type,involve_vehicle_type_hebrew,safety_measures,safety_measures_hebrew,involve_yishuv_symbol,involve_yishuv_name,injury_severity,injury_severity_hebrew,injured_type
0,2010034003,12010034003,1,NaN,1,נהג,1998,7,30-34,1.0,זכר,11.0,אוטובוס,5,לא ידוע,7100,אשקלון,0,NaN,0
1,2010025646,12010025646,1,NaN,2,נהג נפגע,2003,6,25-29,1.0,זכר,10.0,"אופנוע 126 עד 400 סמ""ק",2,חבש קסדת מגן (רק לאופנוע),2650,רמת השרון,3,פצוע קל,4
2,2010021723,12010021723,1,NaN,3,נפגע,0,10,45-49,2.0,נקבה,1.0,רכב נוסעים פרטי,5,לא ידוע,8400,רחובות,3,פצוע קל,3

In [15]:
df.iloc[:3,20:40]

,involve_vehicle_type,involve_vehicle_type_hebrew,safety_measures,safety_measures_hebrew,involve_yishuv_symbol,involve_yishuv_name,injury_severity,injury_severity_hebrew,injured_type
0,11.0,אוטובוס,5,לא ידוע,7100,אשקלון,0,NaN,0
1,10.0,"אופנוע 126 עד 400 סמ""ק",2,חבש קסדת מגן (רק לאופנוע),2650,רמת השרון,3,פצוע קל,4
2,1.0,רכב נוסעים פרטי,5,לא ידוע,8400,רחובות,3,פצוע קל,3

In [18]:
df.iloc[:3,40:60]

,injured_type_hebrew,injured_position,injured_position_hebrew,population_type,population_type_hebrew,involve_home_region,involve_home_region_hebrew,involve_home_district,involve_home_district_hebrew,involve_home_natural_area
0,NaN,8,לא ידוע,1,יהודים,6.0,הדרום,61,אשקלון,614.0
1,נהג - אופנוע,1,ישב ברכב במושב קדמי,1,יהודים,5.0,תל אביב,51,תל אביב,511.0
2,נוסע - רכב בעל 4 גלגלים ויותר,8,לא ידוע,1,יהודים,4.0,המרכז,44,רחובות,441.0

In [19]:
df.iloc[:3,60:80]

,involve_home_natural_area_hebrew,involve_home_municipal_status,involve_home_municipal_status_hebrew,involve_home_yishuv_shape,involve_home_yishuv_shape_hebrew,hospital_time,hospital_time_hebrew,medical_type,medical_type_hebrew,release_dest
0,אזור אשקלון,0.0,עירייה,14.0,"100,000-199,999-תושב, יישוב יהודי",NaN,NaN,NaN,NaN,NaN
1,אזור תל אביב,0.0,עירייה,16.0,"20,000-49,999-תושב, יישוב יהודי",NaN,NaN,NaN,NaN,NaN
2,אזור רחובות,0.0,עירייה,14.0,"100,000-199,999-תושב, יישוב יהודי",NaN,NaN,NaN,NaN,NaN

In [21]:
df.iloc[:3,80:100]

,release_dest_hebrew,safety_measures_use,safety_measures_use_hebrew,late_deceased,late_deceased_hebrew,car_id,involve_id,accident_year,accident_month,provider_code_hebrew
0,NaN,NaN,NaN,NaN,NaN,1,2,2010,1,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1
1,NaN,NaN,NaN,NaN,NaN,1,2,2010,5,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1
2,NaN,NaN,NaN,NaN,NaN,1,2,2010,7,הלשכה המרכזית לסטטיסטיקה - סוג תיק 1

In [23]:
df.iloc[:3,100:120]

,accident_timestamp,accident_type,accident_type_hebrew,accident_severity,accident_severity_hebrew,location_accuracy,location_accuracy_hebrew,road_type,road_type_hebrew,road_shape
0,2010-01-31 13:00:00,1,פגיעה בהולך רגל,3,קלה,3,מרכז דרך,2,עירונית לא בצומת,9
1,2010-05-28 11:15:00,2,התנגשות חזית אל צד,3,קלה,3,מרכז דרך,2,עירונית לא בצומת,9
2,2010-07-06 10:15:00,2,התנגשות חזית אל צד,3,קלה,1,עיגון מדויק,1,עירונית בצומת,8

In [26]:
df.iloc[:3,120:140]

,road_shape_hebrew,day_type,day_type_hebrew,police_unit,police_unit_hebrew,one_lane,one_lane_hebrew,multi_lane,multi_lane_hebrew,speed_limit
0,אחר,4,יום אחר,52,מרחב שפלה,0,NaN,2,מיפרדה עם גדר בטיחות,1
1,אחר,4,יום אחר,51,מרחב השרון,9,לא ידוע מס מסלולים,0,NaN,0
2,כביש ישר / צומת,4,יום אחר,52,מרחב שפלה,9,לא ידוע מס מסלולים,0,NaN,1

In [30]:
df.iloc[:3,140:160]

,x,y,engine_volume,engine_volume_hebrew,manufacturing_year,driving_directions,driving_directions_hebrew,vehicle_status,vehicle_status_hebrew,vehicle_attribution,vehicle_attribution_hebrew,seats,total_weight,total_weight_hebrew,vehicle_vehicle_type,vehicle_vehicle_type_hebrew,vehicle_damage,vehicle_damage_hebrew
0,182083.0,644642.0,13.0,10001+,2008.0,0.0,לא ידוע,0.0,NaN,1.0,ישראלי,53.0,11.0,16.0-19.0,11.0,אוטובוס,NaN,NaN
1,189687.0,675706.0,3.0,251-500,2009.0,1298.0,מערב,0.0,NaN,1.0,ישראלי,1.0,NaN,NaN,10.0,"אופנוע 126 עד 400 סמ""ק",NaN,NaN
2,183401.0,644012.0,9.0,2001-3000,2002.0,0.0,לא ידוע,0.0,NaN,1.0,ישראלי,99.0,NaN,NaN,1.0,רכב נוסעים פרטי,NaN,NaN

In [28]:
df.iloc[:3,85:100]

,road_object,road_object_hebrew,object_distance,object_distance_hebrew,didnt_cross,didnt_cross_hebrew,cross_mode,cross_mode_hebrew,cross_location,cross_location_hebrew,cross_direction,cross_direction_hebrew,road1,road2,km
0,9,לא ידוע,9,לא ידוע,9,לא ידוע,0,NaN,0,NaN,9,לא ידוע,NaN,NaN,NaN
1,9,לא ידוע,9,לא ידוע,9,לא ידוע,0,NaN,0,NaN,9,לא ידוע,NaN,NaN,NaN
2,3,תמרור ושלט,2,1-3 מטר,9,לא ידוע,0,NaN,0,NaN,9,לא ידוע,NaN,NaN,NaN